
.container{
	width: 650px;
	height: 640px;
	box-shadow: 0px 0px 3px 1px #A9A9A9; 
	margin-top: 60px; 
	padding-top: 10px;
	background-color: #e0e0eb;

}

.row {
	margin-left: 20px;k
	align-items: center;
}

hr {
	margin-top: 0px;
	margin-bottom: 15px;
}

.firstname {
	margin-right: 17px;
	margin-left: 96px;
}

.fLabel {
	position: relative;
	font-size: 11px;
	left: 180px;
	top: 0px;
}

.lLabel {
	position: relative;
	font-size: 11px;
	left: 334px;
	top: -5px;
}

.row1 {
	margin-top: 20px;
	margin-left: 25px;
	align-items: center;
}

.email {
	margin-left: 130px;
	width: 391px;
}

.phone {
	margin-left: 122px;
	width: 391px;
}

.guests {
	margin-left: 38px;
	width: 391px;
}

.Res {
	margin-right: 47px;
}

.res {
	width: 391px;
	height: 32px;
}

.other {
	margin-left: 5px;
	width: 391px;
}

.details {
	margin-left: 32px;
	width: 391px;
}

.requests {
	margin-left: 48px;
	width: 391px;
}

.btn {
	margin-top: 20px;
	
}
